.cart-items-list {
  padding: 32px 24px 0px 24px;
  margin: 0;
}
.cart-items-line {
  border: 1px dashed #cbd2d9;
  margin: 0 24px 24px 24px;
}
.cart-order-total-bar {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.order-total-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3e4c59;
  margin: 0;
}
.bill-amount-container {
  display: flex;
  align-items: center;
}
.order-total-amount {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #3e4c59;
  margin: 0;
}
.place-order-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding: 8px 16px;
  gap: 8px;
  width: 99px;
  height: 32px;
  background: #f7931e;
  border-radius: 8px;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 24px;
}
