.home-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
.home-carousal-section {
  width: 100%;
  max-width: 1110px;
  background-color: orange;
}

@media (min-width: 768px) {
  .home-carousal-section {
    padding-left: 24px;
    padding-right: 24px;
    padding: 0px;
  }
}
@media (min-width: 992px) {
  .home-carousal-section {
    margin-top: 48px;
    margin-bottom: 64px;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 64px;
  }
}
.offers-img {
  width: 100%;
  height: 188px;
}
@media (min-width: 992px) {
  .offers-img {
    height: 320px;
  }
}
.slick-list {
  height: 188px !important; /* setting height of carousal*/
}
@media (min-width: 992px) {
  .slick-list {
    height: 320px !important; /* setting height of carousal */
  }
}
.slick-dots {
  top: 78%; /* positioning the dots */
}
.slick-dots li {
  margin: -3px !important; /* adjusting space between dots */
  padding: 0 !important;
}

.slick-dots li button::before {
  color: #ffffff !important; /* changing color of dots */
  opacity: 1;
}
li.slick-active button::before {
  color: #ffffff !important; /* changing size of active dot */
  font-size: 10px;
  opacity: 1;
}

.offers-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 188px;
}
@media (min-width: 992px) {
  .offers-loader-container {
    height: 320px;
  }
}

/* Popular Restaurants section */
.popular-restaurants-section {
  padding: 24px 24px 48px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.popular-restaurants-heading {
  margin-top: 0;
  color: #183b56;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 24px;
  text-align: start;
}
.popular-restaurants-description {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  color: #64748b;
  text-align: start;
}
.nav {
  justify-self: flex-end;
}
